<a href="https://colab.research.google.com/github/Samikshha-K/EDA-DA/blob/main/Model_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Benefits.csv')

In [ ]:
print(df.keys())

Index(['rownames', 'stateur', 'statemb', 'state', 'age', 'tenure', 'joblost',
       'nwhite', 'school12', 'sex', 'bluecol', 'smsa', 'married', 'dkids',
       'dykids', 'yrdispl', 'rr', 'head', 'ui'],
      dtype='object')

In [ ]:
df.isna().sum()

rownames    0
stateur     0
statemb     0
state       0
age         0
tenure      0
joblost     0
nwhite      0
school12    0
sex         0
bluecol     0
smsa        0
married     0
dkids       0
dykids      0
yrdispl     0
rr          0
head        0
ui          0
dtype: int64

In [ ]:
sns.lmplot(x = 'rm', y = 'medv', data = df)

KeyError: "None of [Index(['medv', 'rm'], dtype='object')] are in the [columns]"