<a href="https://colab.research.google.com/github/Samikshha-K/EDA-DA/blob/main/Outlier_Detection_and_Filtering_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Benefits.csv')

In [7]:
data.head()

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1,4.5,167,42,49,21,other,no,no,male,yes,yes,no,no,no,7,0.290631,yes,yes
1,2,10.5,251,55,26,2,slack_work,no,no,male,yes,yes,no,yes,yes,10,0.520202,yes,no
2,3,7.2,260,21,40,19,other,no,yes,female,yes,yes,yes,no,no,10,0.432490,yes,yes
3,4,5.8,245,56,51,17,slack_work,yes,no,female,yes,yes,yes,no,no,10,0.500000,no,yes
4,5,6.5,125,58,33,1,slack_work,no,yes,male,yes,yes,yes,yes,yes,4,0.390625,yes,no

In [10]:
tenure = data["tenure"]
tenure[np.abs(tenure) > 35]

158     39
257     38
654     38
738     36
990     37
1193    40
2444    40
2494    41
2606    40
2729    38
3242    37
3243    40
3564    40
3633    39
3676    36
4291    40
4352    37
Name: tenure, dtype: int64

In [22]:
age = data["age"]
data[np.abs(age) > 60]

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
47,48,9.0,282,14,61,27,slack_work,no,no,male,yes,yes,yes,no,no,10,0.500000,yes,yes
58,59,7.4,168,33,61,25,other,no,no,male,yes,yes,yes,no,no,6,0.305182,yes,yes
86,87,7.4,213,84,61,1,slack_work,no,no,male,yes,yes,yes,no,no,5,0.394340,yes,yes
158,159,9.2,276,34,61,39,slack_work,no,no,female,yes,no,yes,no,no,10,0.523810,no,yes
229,230,8.1,147,31,61,22,other,no,no,male,yes,no,yes,no,no,5,0.366412,yes,yes
435,436,5.9,182,74,61,2,slack_work,no,no,female,yes,yes,yes,no,no,3,0.518072,no,yes
540,541,5.1,225,51,61,9,other,no,yes,male,yes,no,no,no,no,9,0.216374,no,no
692,693,6.5,166,87,61,1,position_abolished,no,no,male,yes,no,yes,no,no,3,0.237241,yes,yes
703,704,4.9,202,87,61,10,other,no,no,male,yes,yes,no,no,no,7,0.500000,no,no
705,706,5.3,166,93,61,13,seasonal_job_ended,no,no,male,yes,yes,yes,yes,yes,7,0.396476,no,yes
1221,1222,5.3,166,93,61,8,slack_work,no,no,female,yes,yes,yes,yes,yes,7,0.397059,no,yes
1241,1242,6.3,191,41,61,16,other,no,no,male,yes,yes,yes,no,no,3,0.352313,yes,yes
1246,1247,7.3,210,74,61,18,other,no,no,male,yes,yes,no,no,no,7,0.521084,yes,yes
1459,1460,4.3,129,45,61,8,position_abolished,no,no,female,yes,no,yes,no,no,3,0.502416,no,no
1601,1602,6.2,170,22,61,4,other,no,no,male,yes,yes,yes,no,no,3,0.471850,yes,yes
1667,1668,4.0,250,41,61,8,other,no,no,male,yes,no,yes,no,no,7,0.498169,yes,no
1798,1799,4.9,180,21,61,10,slack_work,yes,no,male,yes,yes,yes,no,no,6,0.323809,yes,yes
1867,1868,3.2,205,51,61,8,other,no,no,female,yes,yes,no,no,no,7,0.500000,yes,yes
1941,1942,7.8,120,63,61,30,other,no,no,male,yes,yes,yes,no,no,6,0.300792,yes,no
2067,2068,7.3,210,74,61,5,position_abolished,no,no,male,yes,yes,yes,yes,no,7,0.419780,yes,yes
2404,2405,8.7,189,71,61,3,slack_work,no,no,male,yes,no,yes,no,no,5,0.502041,yes,yes
2564,2565,7.4,168,33,61,7,position_abolished,no,no,male,yes,no,yes,no,no,6,0.478873,yes,yes
2720,2721,3.8,241,22,61,8,slack_work,no,no,female,yes,yes,yes,no,no,7,0.600733,no,yes
2729,2730,10.8,105,64,61,38,other,no,no,female,yes,yes,no,no,no,3,0.292225,no,no
2891,2892,7.2,260,21,61,15,slack_work,no,no,male,yes,yes,yes,no,no,10,0.500000,no,yes
3242,3243,6.2,170,22,61,37,slack_work,no,no,male,yes,yes,yes,no,no,3,0.486188,yes,no
3243,3244,3.3,236,14,61,40,other,no,no,male,yes,yes,yes,no,no,7,0.500000,yes,yes
3276,3277,4.4,225,35,61,3,slack_work,no,no,male,yes,no,no,no,no,9,0.520202,yes,yes
3367,3368,5.5,150,43,61,2,slack_work,no,no,male,yes,yes,yes,no,no,8,0.467626,yes,yes
3395,3396,8.6,115,62,61,15,slack_work,no,no,female,yes,yes,no,no,no,3,0.419355,yes,yes
3564,3565,7.4,168,33,61,40,other,no,no,male,yes,yes,yes,no,no,6,0.292818,yes,yes
3602,3603,5.7,203,22,61,8,other,no,no,female,yes,yes,yes,no,no,4,0.600707,no,yes
3723,3724,6.1,125,43,61,30,other,no,no,male,yes,yes,yes,no,no,5,0.179039,yes,no
4056,4057,7.2,260,21,61,31,other,no,yes,male,yes,yes,yes,yes,no,10,0.387524,yes,yes
4108,4109,5.0,115,86,61,3,position_abolished,no,no,male,yes,no,yes,no,no,3,0.382637,yes,no
4129,4130,3.5,228,56,61,12,other,no,no,male,yes,yes,yes,no,no,8,0.456221,yes,no
4165,4166,3.9,196,14,61,4,other,no,no,female,yes,yes,no,no,no,4,0.500000,no,yes
4311,4312,15.0,223,55,61,3,slack_work,no,no,male,yes,yes,yes,no,no,3,0.519337,yes,yes
4657,4658,6.2,170,22,61,32,other,no,no,male,yes,yes,yes,no,no,3,0.330827,yes,no
4712,4713,5.7,241,23,61,23,other,yes,no,female,yes,yes,no,no,no,6,0.521912,yes,yes
4779,4780,8.9,189,74,61,2,position_abolished,no,no,female,yes,yes,yes,no,no,5,0.473282,no,yes
4812,4813,6.3,180,21,61,12,slack_work,no,no,male,yes,yes,yes,no,no,5,0.474531,yes,yes