<a href="https://colab.research.google.com/github/Samikshha-K/EDA-DA/blob/main/Transformation_techniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Benefits.csv')

In [3]:
data.head()

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1,4.5,167,42,49,21,other,no,no,male,yes,yes,no,no,no,7,0.290631,yes,yes
1,2,10.5,251,55,26,2,slack_work,no,no,male,yes,yes,no,yes,yes,10,0.520202,yes,no
2,3,7.2,260,21,40,19,other,no,yes,female,yes,yes,yes,no,no,10,0.432490,yes,yes
3,4,5.8,245,56,51,17,slack_work,yes,no,female,yes,yes,yes,no,no,10,0.500000,no,yes
4,5,6.5,125,58,33,1,slack_work,no,yes,male,yes,yes,yes,yes,yes,4,0.390625,yes,no

Data Deduplication

In [4]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4872    False
4873    False
4874    False
4875    False
4876    False
Length: 4877, dtype: bool

In [5]:
data_no_dup = data.drop_duplicates()
data_no_dup

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1,4.5,167,42,49,21,other,no,no,male,yes,yes,no,no,no,7,0.290631,yes,yes
1,2,10.5,251,55,26,2,slack_work,no,no,male,yes,yes,no,yes,yes,10,0.520202,yes,no
2,3,7.2,260,21,40,19,other,no,yes,female,yes,yes,yes,no,no,10,0.432490,yes,yes
3,4,5.8,245,56,51,17,slack_work,yes,no,female,yes,yes,yes,no,no,10,0.500000,no,yes
4,5,6.5,125,58,33,1,slack_work,no,yes,male,yes,yes,yes,yes,yes,4,0.390625,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,4873,7.4,168,33,35,12,slack_work,yes,yes,female,yes,yes,no,yes,no,6,0.463557,yes,yes
4873,4874,7.0,189,74,39,5,slack_work,no,no,male,yes,yes,yes,no,no,4,0.393750,yes,yes
4874,4875,8.0,168,74,59,13,slack_work,no,no,male,yes,yes,yes,yes,no,2,0.372428,yes,yes
4875,4876,6.3,191,41,33,11,slack_work,no,no,male,yes,yes,yes,yes,yes,3,0.500000,yes,no
4876,4877,9.3,188,94,27,2,other,no,no,male,yes,yes,yes,yes,yes,7,0.495413,yes,yes

In [6]:
data_col_dup = data.drop_duplicates(['age'])
data_col_dup

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1,4.5,167,42,49,21,other,no,no,male,yes,yes,no,no,no,7,0.290631,yes,yes
1,2,10.5,251,55,26,2,slack_work,no,no,male,yes,yes,no,yes,yes,10,0.520202,yes,no
2,3,7.2,260,21,40,19,other,no,yes,female,yes,yes,yes,no,no,10,0.432490,yes,yes
3,4,5.8,245,56,51,17,slack_work,yes,no,female,yes,yes,yes,no,no,10,0.500000,no,yes
4,5,6.5,125,58,33,1,slack_work,no,yes,male,yes,yes,yes,yes,yes,4,0.390625,yes,no
6,7,5.8,166,93,30,5,position_abolished,no,no,male,yes,yes,yes,yes,yes,6,0.334043,yes,yes
8,9,7.7,213,84,54,20,other,no,no,male,yes,yes,yes,no,no,6,0.355634,yes,no
9,10,6.0,187,33,31,1,slack_work,no,no,male,yes,yes,yes,no,no,8,0.373272,yes,yes
10,11,7.1,206,33,56,20,slack_work,no,no,male,yes,no,yes,no,no,10,0.404467,yes,yes
12,13,5.0,279,22,21,1,slack_work,no,no,male,yes,yes,no,no,no,9,0.598485,no,no
13,14,6.6,291,22,35,1,slack_work,yes,no,male,yes,yes,no,yes,yes,10,0.599156,no,no
14,15,7.2,166,93,23,1,slack_work,no,yes,male,yes,yes,no,no,no,4,0.393750,no,yes
15,16,7.2,260,21,41,3,other,no,no,male,yes,yes,yes,yes,no,10,0.502304,no,yes
19,20,6.1,138,54,60,30,slack_work,no,no,male,yes,yes,yes,no,no,2,0.518518,yes,no
20,21,7.2,260,21,42,4,slack_work,yes,no,female,yes,yes,yes,no,no,10,0.500000,no,yes
21,22,18.0,211,55,48,3,other,no,no,male,yes,no,yes,no,no,2,0.255892,yes,yes
23,24,9.0,192,83,29,5,position_abolished,no,no,male,yes,no,yes,yes,yes,5,0.262204,yes,no
24,25,5.9,185,44,59,5,slack_work,no,no,male,yes,no,yes,no,no,4,0.500000,yes,yes
25,26,7.4,197,73,32,3,slack_work,no,no,male,yes,no,yes,yes,yes,6,0.438967,yes,yes
26,27,11.4,168,33,22,3,slack_work,no,no,male,yes,yes,no,yes,no,2,0.504065,no,no
27,28,5.5,150,43,25,3,slack_work,yes,no,male,yes,yes,yes,yes,yes,8,0.575221,no,no
28,29,4.8,179,44,36,3,other,no,yes,male,yes,no,yes,yes,yes,7,0.401099,yes,yes
33,34,7.7,147,74,24,1,slack_work,no,no,male,yes,no,yes,no,no,1,0.459384,no,no
35,36,7.9,151,61,38,3,other,no,no,female,yes,no,no,no,no,7,0.614754,yes,yes
36,37,3.9,176,54,37,10,other,yes,no,female,yes,yes,yes,yes,yes,8,0.503289,no,yes
37,38,9.2,276,34,39,3,other,no,no,male,yes,yes,yes,yes,no,10,0.525316,yes,no
39,40,6.2,135,86,34,2,slack_work,no,no,male,yes,yes,yes,yes,no,6,0.442907,yes,yes
46,47,7.5,275,34,47,4,slack_work,no,no,male,yes,yes,no,no,no,9,0.521212,yes,yes
47,48,9.0,282,14,61,27,slack_work,no,no,male,yes,yes,yes,no,no,10,0.500000,yes,yes
49,50,9.4,136,93,57,2,slack_work,no,yes,male,yes,yes,no,no,no,1,0.417040,no,yes
50,51,10.2,130,64,20,1,slack_work,yes,no,male,yes,yes,no,yes,no,6,0.502538,no,no
51,52,6.0,272,14,27,6,position_abolished,no,yes,male,yes,yes,no,no,no,9,0.392983,yes,yes
54,55,5.1,172,44,28,2,other,no,no,male,yes,yes,no,no,no,3,0.498069,yes,yes
57,58,7.5,275,34,44,1,other,no,no,male,yes,yes,yes,no,no,9,0.525210,yes,yes
63,64,7.4,199,61,52,17,seasonal_job_ended,no,no,male,yes,no,yes,no,no,10,0.566787,yes,yes
103,104,18.0,211,55,50,7,slack_work,no,yes,male,yes,yes,no,no,no,2,0.520833,yes,yes
126,127,3.6,154,13,45,3,seasonal_job_ended,no,no,male,yes,no,yes,no,no,6,0.500000,yes,yes
182,183,4.0,210,47,55,8,slack_work,no,no,male,yes,no,yes,no,no,8,0.419355,yes,yes
189,190,7.8,120,63,43,4,position_abolished,yes,no,female,yes,yes,no,yes,no,6,0.537736,yes,no
194,195,3.7,234,16,46,7,other,no,no,male,yes,yes,yes,yes,no,8,0.497696,yes,yes
275,276,8.2,191,41,53,26,slack_work,no,no,male,yes,yes,yes,no,no,2,0.476852,yes,yes
342,343,8.5,125,21,58,21,other,yes,no,male,yes,yes,yes,yes,no,1,0.461794,yes,yes

Replacing Values

In [7]:
replacedData=data.replace(to_replace =[49,245,10], value= [np.nan,np.nan,np.nan])
replacedData

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1.0,4.5,167.0,42,NaN,21.0,other,no,no,male,yes,yes,no,no,no,7.0,0.290631,yes,yes
1,2.0,10.5,251.0,55,26.0,2.0,slack_work,no,no,male,yes,yes,no,yes,yes,NaN,0.520202,yes,no
2,3.0,7.2,260.0,21,40.0,19.0,other,no,yes,female,yes,yes,yes,no,no,NaN,0.432490,yes,yes
3,4.0,5.8,NaN,56,51.0,17.0,slack_work,yes,no,female,yes,yes,yes,no,no,NaN,0.500000,no,yes
4,5.0,6.5,125.0,58,33.0,1.0,slack_work,no,yes,male,yes,yes,yes,yes,yes,4.0,0.390625,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,4873.0,7.4,168.0,33,35.0,12.0,slack_work,yes,yes,female,yes,yes,no,yes,no,6.0,0.463557,yes,yes
4873,4874.0,7.0,189.0,74,39.0,5.0,slack_work,no,no,male,yes,yes,yes,no,no,4.0,0.393750,yes,yes
4874,4875.0,8.0,168.0,74,59.0,13.0,slack_work,no,no,male,yes,yes,yes,yes,no,2.0,0.372428,yes,yes
4875,4876.0,6.3,191.0,41,33.0,11.0,slack_work,no,no,male,yes,yes,yes,yes,yes,3.0,0.500000,yes,no
4876,4877.0,9.3,188.0,94,27.0,2.0,other,no,no,male,yes,yes,yes,yes,yes,7.0,0.495413,yes,yes

Handling missing data

In [8]:
data.isnull()

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4873,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4874,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4875,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4876,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
replacedData.isnull()

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4873,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4874,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4875,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4876,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
replacedData.isnull().sum()

rownames      3
stateur      39
statemb      51
state         0
age          67
tenure      136
joblost       0
nwhite        0
school12      0
sex           0
bluecol       0
smsa          0
married       0
dkids         0
dykids        0
yrdispl     648
rr            0
head          0
ui            0
dtype: int64

In [11]:
replacedData.count()

rownames    4874
stateur     4838
statemb     4826
state       4877
age         4810
tenure      4741
joblost     4877
nwhite      4877
school12    4877
sex         4877
bluecol     4877
smsa        4877
married     4877
dkids       4877
dykids      4877
yrdispl     4229
rr          4877
head        4877
ui          4877
dtype: int64

Droping missing values

In [12]:
replacedData.dropna()

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
4,5.0,6.5,125.0,58,33.0,1.0,slack_work,no,yes,male,yes,yes,yes,yes,yes,4.0,0.390625,yes,no
6,7.0,5.8,166.0,93,30.0,5.0,position_abolished,no,no,male,yes,yes,yes,yes,yes,6.0,0.334043,yes,yes
7,8.0,5.8,214.0,84,26.0,3.0,slack_work,no,no,male,yes,yes,yes,yes,yes,8.0,0.510989,yes,yes
8,9.0,7.7,213.0,84,54.0,20.0,other,no,no,male,yes,yes,yes,no,no,6.0,0.355634,yes,no
11,12.0,10.1,132.0,12,54.0,26.0,other,no,no,male,yes,no,yes,yes,no,2.0,0.413295,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,4873.0,7.4,168.0,33,35.0,12.0,slack_work,yes,yes,female,yes,yes,no,yes,no,6.0,0.463557,yes,yes
4873,4874.0,7.0,189.0,74,39.0,5.0,slack_work,no,no,male,yes,yes,yes,no,no,4.0,0.393750,yes,yes
4874,4875.0,8.0,168.0,74,59.0,13.0,slack_work,no,no,male,yes,yes,yes,yes,no,2.0,0.372428,yes,yes
4875,4876.0,6.3,191.0,41,33.0,11.0,slack_work,no,no,male,yes,yes,yes,yes,yes,3.0,0.500000,yes,no
4876,4877.0,9.3,188.0,94,27.0,2.0,other,no,no,male,yes,yes,yes,yes,yes,7.0,0.495413,yes,yes

In [14]:
replacedData.dropna(how='all')

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1.0,4.5,167.0,42,NaN,21.0,other,no,no,male,yes,yes,no,no,no,7.0,0.290631,yes,yes
1,2.0,10.5,251.0,55,26.0,2.0,slack_work,no,no,male,yes,yes,no,yes,yes,NaN,0.520202,yes,no
2,3.0,7.2,260.0,21,40.0,19.0,other,no,yes,female,yes,yes,yes,no,no,NaN,0.432490,yes,yes
3,4.0,5.8,NaN,56,51.0,17.0,slack_work,yes,no,female,yes,yes,yes,no,no,NaN,0.500000,no,yes
4,5.0,6.5,125.0,58,33.0,1.0,slack_work,no,yes,male,yes,yes,yes,yes,yes,4.0,0.390625,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,4873.0,7.4,168.0,33,35.0,12.0,slack_work,yes,yes,female,yes,yes,no,yes,no,6.0,0.463557,yes,yes
4873,4874.0,7.0,189.0,74,39.0,5.0,slack_work,no,no,male,yes,yes,yes,no,no,4.0,0.393750,yes,yes
4874,4875.0,8.0,168.0,74,59.0,13.0,slack_work,no,no,male,yes,yes,yes,yes,no,2.0,0.372428,yes,yes
4875,4876.0,6.3,191.0,41,33.0,11.0,slack_work,no,no,male,yes,yes,yes,yes,yes,3.0,0.500000,yes,no
4876,4877.0,9.3,188.0,94,27.0,2.0,other,no,no,male,yes,yes,yes,yes,yes,7.0,0.495413,yes,yes

Filling missing values

In [16]:
filledData=replacedData.fillna(0)
filledData

,rownames,stateur,statemb,state,age,tenure,joblost,nwhite,school12,sex,bluecol,smsa,married,dkids,dykids,yrdispl,rr,head,ui
0,1.0,4.5,167.0,42,0.0,21.0,other,no,no,male,yes,yes,no,no,no,7.0,0.290631,yes,yes
1,2.0,10.5,251.0,55,26.0,2.0,slack_work,no,no,male,yes,yes,no,yes,yes,0.0,0.520202,yes,no
2,3.0,7.2,260.0,21,40.0,19.0,other,no,yes,female,yes,yes,yes,no,no,0.0,0.432490,yes,yes
3,4.0,5.8,0.0,56,51.0,17.0,slack_work,yes,no,female,yes,yes,yes,no,no,0.0,0.500000,no,yes
4,5.0,6.5,125.0,58,33.0,1.0,slack_work,no,yes,male,yes,yes,yes,yes,yes,4.0,0.390625,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,4873.0,7.4,168.0,33,35.0,12.0,slack_work,yes,yes,female,yes,yes,no,yes,no,6.0,0.463557,yes,yes
4873,4874.0,7.0,189.0,74,39.0,5.0,slack_work,no,no,male,yes,yes,yes,no,no,4.0,0.393750,yes,yes
4874,4875.0,8.0,168.0,74,59.0,13.0,slack_work,no,no,male,yes,yes,yes,yes,no,2.0,0.372428,yes,yes
4875,4876.0,6.3,191.0,41,33.0,11.0,slack_work,no,no,male,yes,yes,yes,yes,yes,3.0,0.500000,yes,no
4876,4877.0,9.3,188.0,94,27.0,2.0,other,no,no,male,yes,yes,yes,yes,yes,7.0,0.495413,yes,yes